In [2]:
import numpy as np 
import pandas as pd

In [5]:
data = pd.read_csv('city.csv')
data.columns

Index(['address', 'postal_code', 'country', 'federal_district', 'region_type',
       'region', 'area_type', 'area', 'city_type', 'city', 'settlement_type',
       'settlement', 'kladr_id', 'fias_id', 'fias_level', 'capital_marker',
       'okato', 'oktmo', 'tax_office', 'timezone', 'geo_lat', 'geo_lon',
       'population', 'foundation_year'],
      dtype='object')

In [9]:
data = data.sort_values(by=['population'], ascending=False)

In [17]:

df = data[:100][['address', 'city', 'population']]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 509 to 536
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   address     100 non-null    object
 1   city        97 non-null     object
 2   population  100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

                               address             city  population
509                           г Москва              NaN    11514330
786                  г Санкт-Петербург              NaN     4848742
647                      г Новосибирск      Новосибирск     1498921
832                     г Екатеринбург     Екатеринбург     1377738
619                  г Нижний Новгород  Нижний Новгород     1250615
..                                 ...              ...         ...
789        Саратовская обл, г Балаково         Балаково      199576
35   Архангельская обл, г Северодвинск     Северодвинск      192265
374      Краснодарский край, г Армавир          Армавир      188897
559         Московская обл, г Подольск         Подольск      187956
536          Московская обл, г Королёв          Королёв      183452

[100 rows x 3 columns]

In [21]:
df['city'] = df['city'].fillna(df['address'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 509 to 536
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   address     100 non-null    object
 1   city        100 non-null    object
 2   population  100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [22]:
df.to_csv('city_100.csv')